<!DOCTYPE html>
<html>
    <head>
        <title>Nejaký titulok</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <header class="main">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">More</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/api/v1/auth/login">Login</a></li>
            </ul>
        </header>
        <div class = "container" style = "font-size: large;">
            <table id="weatherInfo">
            </table>
        </div>
        <div class="container">
            <div class="searchInput">
              <input type="text" placeholder="Zadejte město...">
              <div class="resultBox">
              </div>
            </div>
        </div>

    </body>
    <script>
        // ===============================================================
        // taken from https://codepen.io/mey_mnry/pen/QWqPvox 
        //
        // ===============================================================
        async function fetchCitiesNames() {
            const response = await fetch('/static/cities');
            let cities = await response.json()
            return cities;
        }

        function populateWeatherTable(e, cities) {
            let cityString = e.target.innerHTML;
            input.value = cityString;
            let city = cities.find((c) => c.name === cityString);
            //console.log(city);
            const table = document.getElementById("weatherInfo");
            table.innerHTML = `<tr><tc>${cityString}</tc>
                               <tr><tc>${city.ta_2m}`;
        }

        const searchInput   = document.querySelector(".searchInput");
        const input         = searchInput.querySelector("input");
        const resultBox     = searchInput.querySelector(".resultBox");
        let   linkTag       = searchInput.querySelector("a");
        let   webLink;
        fetchCitiesNames().then(cities => {
            input.onfocus = (e) => {
                let suggestionArr = cities;
                suggestionArr = suggestionArr.map((data) => '<li>' + data.name + '</li>');
                searchInput.classList.add("active");
                showSuggestions(suggestionArr);
                let allList = resultBox.querySelectorAll("li");
                for (let i = 0; i < allList.length; i++) {
                        allList[i].onclick = (e) => {
                            populateWeatherTable(e, cities);
                        }                        //allList[i].setAttribute("onclick", "select(this)");
                }
            }
            input.onkeyup = (e) => {
                let userData = e.target.value; 
                let suggestionArr = [];
                if (userData) {
                    suggestionArr = cities.map(e => e.name).filter((data) => {
                        return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase()); 
                    });
                    suggestionArr = suggestionArr.map((data) => '<li>'+ data +'</li>');
                    searchInput.classList.add("active"); //show autocomplete box
                    showSuggestions(suggestionArr);
                    let allList = resultBox.querySelectorAll("li");
                    for (let i = 0; i < allList.length; i++) {
                        allList[i].onclick = (e) => {
                            populateWeatherTable(e, cities);
                        }
                    }
                } else {
                    searchInput.classList.remove("active"); //hide autocomplete box
                }
            }
        });

        function showSuggestions(list) {
            let listData;
            if (!list.length) {
                userValue = input.value;
                listData = '<li>'+ userValue +'</li>';
            } else {
                listData = list.join('');
            }
            resultBox.innerHTML = listData;
        }

    </script>
</html>