<!DOCTYPE html>
<html>
    <head>
        <title>Nejaký titulok</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <header class="main">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">More</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/api/v1/auth/login">Login</a></li>
            </ul>
        </header>
        <h1>
            
        </h1>
    </body>
    <script>

    </script>
</html>